body {
  background-image: url(https://itswynnesworld.files.wordpress.com/2011/07/chuck-norris.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
}

#find {
  margin: 5px;
  background: rgba(143, 143, 143, 0.815);
  color: rgb(233, 233, 233);
  border: inset 5px rgba(165, 165, 165, 0.863);
  border-radius: 10px;
  box-shadow: 0 3px rgb(134, 134, 134);
}

#find:hover {
  background: rgba(117, 117, 117, 0.829);
}

#find:active {
  background: rgba(117, 117, 117, 0.829);
  box-shadow: 0 1.5px rgb(124, 124, 124);
  transform: translateY(2px);
}

.text {
  justify-content: center;
}

h1 {
  background-color: rgba(230, 230, 230, 0.425);
  padding: 5px;
  margin: 5px;
  justify-content: center;
  text-align: center;
}

img {
  margin-left: 20px;
  margin-right: 20px;
  border: 5px rgba(117, 117, 117, 0.829);
}

#norrisQuote {
  background-color: rgba(230, 230, 230, 0.425);
}